<h2>
  {{user}}/{{rep}}
  <a ng-href="https://github.com/{{user}}/{{rep}}">
    <i class="fa-external-link fa"></i>
  </a>
</h2>

<nav aria-label="Page navigation">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        страницы:
        <ul class="pagination">
          <li ng-repeat="page in []| range: page.total[0]">
            <a ng-href="#!/{{user}}/{{rep}}/{{$index+1}}/{{perPage}}">{{$index+1}}</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        записей на странице
          <ul class="pagination">
            <li ng-repeat="size in pageSizes">
              <a ng-href="#!/{{user}}/{{rep}}/{{currentPage}}/{{size}}">{{size}}</a>
            </li>
          </ul>
      </div>
    </div>
  </div>


</nav>
<ul class="list-group">
  <li class="list-group-item clearfix" ng-repeat="item in page.data">
    <a ng-href="#!/{{user}}/{{rep}}/issuse/{{item.number}}">
      <div class="list-group-item-heading">
        #{{item.number}} дата создания: {{item.created_at}}
        <h3>
          {{item.title}}
        </h3>
      </div>
    </a>
    <div class="list-group-item-text" marked="item.body">
    </div>
    <div class="list-group-item-footer">
      <user item="item.user">
      </user>
    </div>
  </li>
</ul>
